.lock {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 600px;
    height: 800px;
    position: relative;
    background-image: url("lock_gray.png");
}

.blackbg {
	background-color: #000;
}

.content {
	text-align: center;
	padding-top: 320px;
}

.passwordbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #939597;
	width: 75%;
	height: 50px;
}

.password {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	padding-top: 20px;
}

.button {
	background-color: #F16521;
	width: 120px;
	height: 50px;
	color: #fff;
	font-family: 'Kameron', serif;
	font-weight: 700;
	font-size: 125%;
	margin-top: 20px;
}

#number_of_words {
			width: 40px;
		}

h1 {
	font-family: 'Kameron', serif;
	font-weight: 700;
}

h2 {
	font-family: 'Kameron', serif;
	font-weight: 400;
	margin-top: 20px;
}

.orange {
	color: #FC956D;
}

.white {
	color: #fff;
}

label {
	font-family: 'Kameron', serif;
	font-weight: 400;
}